.vs
Application/bin
Application/obj
Domain/bin
Domain/obj
Infrastructure/bin
Infrastructure/obj
Persistence/bin
Persistence/obj
Presentation/bin
Presentation/obj
obj
bin
/redis_data
/postgres_data
/qdrant_data
/minio_data
/mongodb_data
/neo4j_data
/ollama_embedder_data
launch.json